<a href="https://colab.research.google.com/github/sameerCoder/ML_Datasets/blob/main/Hypothesis_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 01 Hypothesis Testing
H0: Marriage age of Male in India is 30
Ha: Marriage age of Male in India is NOT 30
30 is Hypothesis mean in this research.

SyntaxError: ignored

In [4]:
# list containing age of male 
ages=[25,27,30,34,33,29,39,28]

In [1]:
ages2=[10,15,20,25,23,28,32]

In [6]:
#One Sample T-test
from scipy import stats
stats.ttest_1samp(ages,30)

Ttest_1sampResult(statistic=0.3926640065328521, pvalue=0.706250447435517)

In [2]:
# second Sample T-test
from scipy import stats
stats.ttest_1samp(ages2,30)

Ttest_1sampResult(statistic=-2.8499999999999996, pvalue=0.029181619280134605)

In [ ]:
Probality values; p = 70.6 % 
if the pvalue is less than 5% then we say 
I.E P > 5%, WE FAIL TO REJECT NULL HYPOTHESIS (ACCEPT NULL HYPOTHESIS)
MARRIAGE AGE OF MALE IN INDIA IS 30.