In [34]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [35]:
url="https://raw.githubusercontent.com/sameerCoder/ML_Datasets/main/Melbourne_housing_FULL.csv"
df1=pd.read_csv(url)
df1.head()

       Suburb             Address  ...             Regionname Propertycount
0  Abbotsford       68 Studley St  ...  Northern Metropolitan        4019.0
1  Abbotsford        85 Turner St  ...  Northern Metropolitan        4019.0
2  Abbotsford     25 Bloomburg St  ...  Northern Metropolitan        4019.0
3  Abbotsford  18/659 Victoria St  ...  Northern Metropolitan        4019.0
4  Abbotsford        5 Charles St  ...  Northern Metropolitan        4019.0

[5 rows x 21 columns]

In [36]:
#drop first columns
df1.drop('Suburb',axis=1,inplace=True)
df1.head()

              Address  Rooms  ...             Regionname  Propertycount
0       68 Studley St      2  ...  Northern Metropolitan         4019.0
1        85 Turner St      2  ...  Northern Metropolitan         4019.0
2     25 Bloomburg St      2  ...  Northern Metropolitan         4019.0
3  18/659 Victoria St      3  ...  Northern Metropolitan         4019.0
4        5 Charles St      3  ...  Northern Metropolitan         4019.0

[5 rows x 20 columns]

In [37]:
cols_to_use=['Rooms','Type','Method','SellerG','Regionname','Propertycount','Distance','CouncilArea','Bedroom2','Bathroom','Car','Landsize','BuildingArea','Price']
df=df1[cols_to_use]
df.head()

   Rooms Type Method SellerG  ...  Car  Landsize  BuildingArea      Price
0      2    h     SS  Jellis  ...  1.0     126.0           NaN        NaN
1      2    h      S  Biggin  ...  1.0     202.0           NaN  1480000.0
2      2    h      S  Biggin  ...  0.0     156.0          79.0  1035000.0
3      3    u     VB  Rounds  ...  1.0       0.0           NaN        NaN
4      3    h     SP  Biggin  ...  0.0     134.0         150.0  1465000.0

[5 rows x 14 columns]

In [38]:
df.isna().sum() # find all the nan values count.

Rooms                0
Type                 0
Method               0
SellerG              0
Regionname           3
Propertycount        3
Distance             1
CouncilArea          3
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
Price             7610
dtype: int64

In [39]:
# fill the nan values.
cols_to_fill_zero=['Propertycount','Distance','Bedroom2','Bathroom','Car']
df[cols_to_fill_zero]=df[cols_to_fill_zero].fillna(0)
df.isna().sum()

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

Rooms                0
Type                 0
Method               0
SellerG              0
Regionname           3
Propertycount        0
Distance             0
CouncilArea          3
Bedroom2             0
Bathroom             0
Car                  0
Landsize         11810
BuildingArea     21115
Price             7610
dtype: int64

In [40]:
#landsize & BuildingArea fill with mean value.
df['Landsize']=df['Landsize'].fillna(df['Landsize'].mean())
df['BuildingArea']=df['BuildingArea']=df['BuildingArea'].fillna(df['BuildingArea'].mean())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [41]:
df.isna().sum()

Rooms               0
Type                0
Method              0
SellerG             0
Regionname          3
Propertycount       0
Distance            0
CouncilArea         3
Bedroom2            0
Bathroom            0
Car                 0
Landsize            0
BuildingArea        0
Price            7610
dtype: int64

In [42]:
# delete rest of nan value in whole dataset.
df.dropna(inplace=True)
df.isna().sum()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Rooms            0
Type             0
Method           0
SellerG          0
Regionname       0
Propertycount    0
Distance         0
CouncilArea      0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
Price            0
dtype: int64

In [43]:
x=df.drop('Price',axis=1)
y=df['Price']

In [44]:
x

       Rooms Type Method  ...  Car    Landsize  BuildingArea
1          2    h      S  ...  1.0  202.000000      160.2564
2          2    h      S  ...  0.0  156.000000       79.0000
4          3    h     SP  ...  0.0  134.000000      150.0000
5          3    h     PI  ...  1.0   94.000000      160.2564
6          4    h     VB  ...  2.0  120.000000      142.0000
...      ...  ...    ...  ...  ...         ...           ...
34852      4    h     PI  ...  3.0  593.000000      160.2564
34853      2    h     SP  ...  1.0   98.000000      104.0000
34854      2    t      S  ...  2.0  220.000000      120.0000
34855      3    h     SP  ...  0.0  593.598993      160.2564
34856      2    h     PI  ...  0.0  250.000000      103.0000

[27244 rows x 13 columns]

In [48]:
x.shape

(27244, 13)

In [46]:
x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27244 entries, 1 to 34856
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rooms          27244 non-null  int64
 1   Type           27244 non-null  object
 2   Method         27244 non-null  object
 3   SellerG        27244 non-null  object
 4   Regionname     27244 non-null  object
 5   Propertycount  27244 non-null  float64
 6   Distance       27244 non-null  float64
 7   CouncilArea    27244 non-null  object
 8   Bedroom2       27244 non-null  float64
 9   Bathroom       27244 non-null  float64
 10  Car            27244 non-null  float64
 11  Landsize       27244 non-null  float64
 12  BuildingArea   27244 non-null  float64
dtypes: float64(7), int64(1), object(5)
memory usage: 2.9+ MB

In [49]:
#pandas.get_dummies() is used for data manipulation. It converts categorical data into dummy or indicator variables.
x=pd.get_dummies(x)
x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27244 entries, 1 to 34856
Columns: 406 entries, Rooms to CouncilArea_Yarra Ranges Shire Council
dtypes: float64(7), int64(1), uint8(398)
memory usage: 12.2 MB

In [53]:
import pandas as pd
import numpy as np
 
 
# list
li = ['s', 'a', 't', np.nan]
print(li)
print(pd.get_dummies(li))

['s', 'a', 't', nan]
   a  s  t
0  0  1  0
1  1  0  0
2  0  0  1
3  0  0  0

In [50]:
type(x)
x.columns

Index(['Rooms', 'Propertycount', 'Distance', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'Type_h', 'Type_t',
       ...
       'CouncilArea_Moorabool Shire Council',
       'CouncilArea_Moreland City Council',
       'CouncilArea_Nillumbik Shire Council',
       'CouncilArea_Port Phillip City Council',
       'CouncilArea_Stonnington City Council',
       'CouncilArea_Whitehorse City Council',
       'CouncilArea_Whittlesea City Council',
       'CouncilArea_Wyndham City Council', 'CouncilArea_Yarra City Council',
       'CouncilArea_Yarra Ranges Shire Council'],
      dtype='object', length=406)

In [51]:
y

1        1480000.0
2        1035000.0
4        1465000.0
5         850000.0
6        1600000.0
           ...
34852    1480000.0
34853     888000.0
34854     705000.0
34855    1140000.0
34856    1020000.0
Name: Price, Length: 27244, dtype: float64

In [23]:
from sklearn.model_selection import train_test_split
train_x,test_x,train_y,test_y=train_test_split(x,y,test_size=0.3,random_state=2)

In [22]:
from sklearn.linear_model import LinearRegression
reg=LinearRegression().fit(train_x,train_y)

ValueError: ignored

In [24]:
reg.score(test_x,test_y)

NameError: ignored

In [ ]:
reg.score(train_x,train_y)
# training score is greate #overfitting.

In [25]:
#L1 regression

from sklearn import linear_model
lasso_reg=linear_model.Lasso(alpha=50,max_iter=100,tol=0.1)
lasso_reg.fit(train_x,train_y)

ValueError: ignored

In [ ]:
lasso_reg.score(test_x,test_y)

In [ ]:
lasso_reg.score(train_x,train_y)

In [26]:
# L2 regression
from sklearn.linear_model import Ridge
ridge_reg=Ridge(alpha=50,max_iter=100,tol=0.1)
ridge_reg.fit(train_x,train_y)

In [ ]:
ridge_reg.score(test_x,test_y)

In [ ]:
ridge_reg.score(train_x,train_y)