In [5]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sbn
from sklearn.model_selection import train_test_split
import os

In [6]:
url="https://raw.githubusercontent.com/sameerCoder/ML_Datasets/main/gridsearchcv/Advertising_data.csv"
data = pd.read_csv(url)

In [7]:
df = pd.DataFrame(data)

In [8]:
df.head()

    User ID  Gender   Age  EstimatedSalary  Purchased
0  15624510    Male  19.0          19000.0          0
1  15810944    Male  35.0          20000.0          0
2  15668575  Female  26.0          43000.0          0
3  15603246  Female  27.0          57000.0          0
4  15804002    Male  19.0          76000.0          0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    float64
 3   EstimatedSalary  400 non-null    float64
 4   Purchased        400 non-null    int64
dtypes: float64(2), int64(2), object(1)
memory usage: 15.8+ KB

In [10]:
X= df.iloc[:,[2,3]]
y = df.Purchased

In [11]:
from sklearn.preprocessing import StandardScaler
scalar = StandardScaler()
X = scalar.fit_transform(X)

In [12]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25,random_state=101)

In [13]:
from sklearn.svm import SVC
model = SVC()

In [14]:
model.fit(X_train,y_train)

SVC()

In [15]:
y_pred = model.predict(X_test)

In [16]:
from sklearn.metrics import confusion_matrix,accuracy_score
confusion_matrix(y_pred,y_test)

array([[58,  1],
       [ 7, 34]])

In [17]:
accuracy_score(y_pred,y_test)

0.92

In [18]:
#applying GridSearch to find the best model and the best parameter
from sklearn.model_selection import GridSearchCV
parameter = [
                {"C":[1,10,100,1000], "kernel":["linear"]},
                {"C":[1,10,100,1000] , "kernel":["rbf"] , "gamma":[0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9]}
            ]
search = GridSearchCV( estimator=model,
                       param_grid= parameter,
                       scoring = "accuracy",
                       cv = 10,
                       n_jobs = -1
                     )

search = search.fit(X_train,y_train)

In [19]:
accuracy = search.best_score_

In [20]:
accuracy

0.9166666666666667

In [21]:
search.best_params_

{'C': 10, 'gamma': 0.6, 'kernel': 'rbf'}

In [22]:
model1 = SVC( C = 10 , kernel = "rbf" , gamma = 0.7)

In [23]:
model1.fit(X_train,y_train)

SVC(C=10, gamma=0.7)

In [24]:
y_pred1 = model1.predict(X_test)

In [25]:
accuracy_score(y_pred1, y_test)

0.91